<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uni.mse.mserss">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rss_icon"
        android:label="@string/app_name">
        <activity android:name=".OverviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailActivity"
            android:theme="@style/Base.Theme.AppCompat.Light"/>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".ItemsActivity" />
        <activity android:name=".ChannelsActivity" />
        <activity android:name=".EditCollectionsActivity" />
        <activity android:name=".EditChannelsActivity" />
        <activity android:name=".AddCollectionActivity" />
        <activity android:name=".AddChannelActivity"></activity>

        <service android:name=".RssService"
            android:exported="false"/>
        <receiver android:name=".RssServiceReceiver" />
    </application>

</manifest>